@import url('https://fonts.googleapis.com/css2?family=Archivo&family=Dosis:wght@200;400;700&family=Tangerine&display=swap');

$accent-color: #E41A21;
$accent-color-reverse: #EA474D;
$secondary-light-color: #c3d8d7;

body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Dosis', sans-serif;
  user-select: none;
  scrollbar-width: thin;
  scrollbar-color: rgba($accent-color, 0.7) $secondary-light-color;
}


.container {
  &__header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: rgba(10, 10, 10, 0.8);
  }
  &__footer {
  }
}

h2 {
  color: #FCFCFA;
  font-size: 3em;
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -1%;
  text-align: center;
  text-transform: uppercase;
  font-family: 'Archivo', sans-serif;
}

h3 {
  color: #FCFCFA;
  font-size: 1.7em;
  font-family: 'Archivo', sans-serif;
}

p {
  color: #535353;
  font-weight: 400;
  line-height: 1.5;
  font-size: 1.5em;
  font-style: italic;
}

.button {
  display: inline-block;
  padding: 1em 3em;
  border: 2px solid transparent;
  border-radius: 10px;
  background-color: $accent-color;
  font-size: 1.5em;
  font-weight: 900;
  text-decoration: none;
  color: white;
  transition: box-shadow 0.3s ease, transform 0.3s ease, letter-spacing 0.3s ease, color 0.3s ease;

  &:hover {
    letter-spacing: 1px;
    transform: translateY(-2px);
    box-shadow: 0 3px 10px rgba($accent-color-reverse, 0.2);
    cursor: pointer;
    color: $accent-color-reverse;
    background-color: white;
    border: 2px solid $accent-color-reverse;
  }
}

.button--calendly {
  font-size: 1.2rem;
  margin-left: 44%;
}

/* Pour les navigateurs basés sur WebKit (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: $secondary-light-color;
}

::-webkit-scrollbar-thumb {
  background: rgba($accent-color, 0.7); 
  border-radius: 6px;
}

::-webkit-scrollbar-thumb:hover {
  background: $accent-color;
}


