.about {
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAF8FF;
  
  &__title {
    align-self: center;
    text-transform: uppercase;
    font-family: 'Archivo', sans-serif;
    font-size: 4.5rem;
    width: 50%;
    color: $primary-color;
    span {
      color: $primary-color;
    }
  }
  &__desc {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 200;
    color: black;
    font-size: 2em;
    margin: 0;
    text-align: left;

  }

  &__project {
    width: 30%;
    margin: 0 auto;
    margin-top: 5rem;
  }

  &__arrow {
    position: absolute;
    bottom: 3%;
    left: 48%;
    &__button {
      border: none;
      background-color: transparent;
      padding: 0;
      margin: 0;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 5em;
      &__arrow {
        color: $accent-color;
        &:hover {
          cursor: pointer;
          color: $accent-color-reverse;
        }
      }
    }
  }
}
