.about {
  width: 100%;
  height: 90vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #FAF8FF;
  
  &__title {
    align-self: center;
    text-transform: uppercase;
    font-size: 5rem;
    width: 50%;
  }
  &__desc {
    align-self: center;
    font-size: 1.2rem;
    font-weight: 200;
    color: black;
    font-size: 2em;
    margin: 0;

  }

  &__project {
    width: 30%;
    margin: 0 auto;
    margin-top: 5rem;
    button {
      padding: 1em 3em;
      border-radius: 10px;
      background-color: $accent-color-reverse;
      border: none;
      font-size: 1.5em;
      font-weight: 900;
      &:hover {
        letter-spacing: 1px;
        transition: transform .5s ease-in-out;
        transform: translateY(-3px);
        box-shadow: 0 5px 15px 0 $accent-color;
        cursor: pointer;
        a {
          color: $accent-color;
        }
      }
      a {
        text-decoration: none;
        color: white;
      }
    }
  }
}
