.contact {
  width: 100%;
  min-height: 74.6vh;

  h2 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
  }

  .contactHeader {
    margin-bottom: 2em;
  }

  .contactForm {
    form {
      width: 75%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        label {
          font-weight: bold;
        }

        input, textarea {
          padding: 0.5em;
          border: 1px solid $secondary-light-color;
          border-radius: 5px;
          font-size: 1em;
        }

        textarea {
          resize: vertical;
        }
      }

      button {
        align-self: center;

      }
    }
  }

}
