.contact {
  width: 100%;
  min-height: 74.6vh;
  padding-top: 7%;
  background-color: #0A0A0A;

  h2 {
    color: $primary-color;
    text-align: center;
    margin-bottom: 1.5em;
  }

  p {
    font-size: 1.2em;
    text-align: center;
    margin-bottom: 1em;
  }

  &__header {
    margin-bottom: 2em;
  }

  &__form {
    form {
      width: 60%;
      margin: auto;
      display: flex;
      flex-direction: column;
      gap: 1em;

      div {
        display: flex;
        flex-direction: column;
        gap: 0.5em;

        label {
          font-weight: bold;
          color: white;
        }

        input, textarea {
          padding: 0.5em;
          border: 1px solid $secondary-light-color;
          border-radius: 5px;
          font-size: 1em;
          background-color: #0A0A0A;
        }

        textarea {
          resize: vertical;
        }
      }

      button {
        margin-top: 2%;
        align-self: center;

      }
    }
  }

  &__calendly {
    // border: 1px solid $secondary-light-color;
    width: 60%;
    // height: 100px;
    margin: auto;
    margin-top: 2em;
    margin-right: 21%;
  }

}
