
.experience {
  width: 100%;
  background-color: #0A0A0A;
  padding-top: 7%;
  z-index: 5;
  min-height: 100vh;
  padding-bottom: 3rem;

  &__item {
    display: flex;
    flex-direction: column;
    margin: 2rem auto;
    padding: 1rem;
    border: 2px solid #2B2B2B;
    border-radius: 24px;
    width: 40%;
    background-color: rgba(13, 13, 13, 0.8);
    position: relative;
    overflow: hidden;

    // Gradient light effect starting from outside the top-right corner
    &::before {
      content: '';
      position: absolute;
      top: -30%;  // Décalage pour partir du coin en haut à droite
      right: -30%; // Décalage pour que le centre du gradient soit juste à l'extérieur du coin
      width: 90%; // Ajuste pour couvrir une partie circulaire du coin supérieur droit
      height: 110%;
      background: radial-gradient(
        circle at top right,
        rgba(189, 94, 59, 0.9) 10%,
        rgba(145, 49, 26, 0.5) 30%,
        rgba(64, 13, 10, 0) 70%
      );
      filter: blur(40px); // Augmente légèrement le flou pour un effet plus doux
      z-index: 0; // Place le pseudo-élément derrière le contenu
      pointer-events: none; // N'interfère pas avec les interactions
    }
    

    
    

    @media (min-width: 768px) {
      width: 75%;
    }
  
    @media (min-width: 1024px) {
      width: 50%;
    }
  
    header {
      margin-bottom: 1rem;
      position: relative; // Pour le z-index du texte
      z-index: 1; // Texte au-dessus de l'effet
    }

    &__date {
      color: #FCFCFA;
    }
  
    &__date, &__tech, &__desc p {
      margin-top: 0.5rem;

      em {
        font-style: italic;
        color: #FCFCFA;
        margin-left: .5%;
      }

      span {
        display: block;
        margin-left: 1%;
      }
    }
  
    &__desc {
      text-align: left;
    }
  }
}
